// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.products{
  margin:0;
  padding:0.5;
  a{
    padding: 0.354cm 0.5cm;
    border-radius: 0.354cm;
  }

  table {
    border-collapse: collapse;
  }

  td {
    padding: 0.5cm;
    margin: 0;
  }

  tr.list_line_odd{
    background-color: #effeef;
  }

  td.image{
    display:none;

    @media(min-width: 30cm){
      display:block;
      img{
        height: 11.3cm;

      }
    }
  }

  td.description{
    h1{
      font-size: 1.4cm;
    }
  }

  td.actions{
    ul {
      padding: 0;
      list-style: none;
      li {
        padding: 0.5cm 0.5cm
      }
    }
  }

  tfoot {
    td {
      padding: 0.5cm 0;
    }
  }
}